.card{
    width: 250px;
    height: 150px;
    border: 3px solid orange;
    border-radius: 25px;
    margin: 40px 10px 0 10px;
}

* {
    text-align: center;
    
    
}
.box{
    display: flex;
    justify-content: flex-start;
}
.card-text{
    margin-top: 55px;
    text-transform:capitalize;
    font-size: 25px;
    color: rgb(153, 102, 6);
    font-weight: 600;
    
}
.card-icon{
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    margin: -120px 30px 440px 20px;
    
}
.user-icon{
    color: white;
    font-size: 35px;
    font-weight: 800;

    
    
}